.myContainer {

    border: solid 1px black;
    box-shadow: 5px 5px 15px grey;
    padding: 10%;
    margin-top: 60px;
}

.myContent {
    margin: 50px;
    text-align: right;    
}

.pfImage{
    border: solid 1px black;
    float: left;
    border-radius: 50%;
}